apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: github-release-monitor
  namespace: github-release-monitor
spec:
  interval: 2m
  chart:
    spec:
      chart: app-template
      version: 15.29.18
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    global:
      stopAll: false
    image:
      repository: ghcr.io/iamspido/github-release-monitor
      pullPolicy: IfNotPresent
      tag: 1.4.1@sha256:949be4ad5535e0d7cf3a4b99fe11f8e8695443e52841821bbf2e9065f3c4ddab
    credentials:
      home-s3:
        name: home-s3
        type: s3
        url: ${S3_URL}
        bucket: github-release-monitor
        encrKey: ${BACKUP_ENCRYPTION_KEY}
        accessKey: ${S3_ACCESS_KEY}
        secretKey: ${S3_SECRET_KEY}
    service:
      main:
        enabled: true
        type: LoadBalancer
        ports:
          main:
            enabled: true
            port: 3000
            protocol: http
            targetPort: 3000
    ingress:
      main:
        enabled: true
        ingressClassName: external
        hosts:
          - host: release-mon.${DOMAIN_0}
        integrations:
          certManager:
            enabled: true
            certificateIssuer: le-prod
          nginx:
            enabled: true
            auth:
              type: authelia
              internalHost: ${AUTHELIA_INTERNAL_DNS}
              externalHost: ${AUTHELIA_EXTERNAL_DNS}
          homepage:
            enabled: true
            name: GitHub Release Monitor
            description: A powerful, self-hostable application to automatically monitor GitHub repository releases and receive instant email notifications.
            icon: https://raw.githubusercontent.com/iamspido/github-release-monitor/refs/heads/main/src/app/icon.svg
            group: Apps
            widget:
              enabled: false
    persistence:
      data:
        enabled: true
        type: pvc
        mountPath: /app/data
        volsync:
          - credentials: home-s3
            name: data
            type: restic
            dest:
              enabled: true
            src:
              enabled: true
              trigger:
                schedule: 5 4 * * *
    workload:
      main:
        podSpec:
          containers:
            main:
              env:
                AUTH_SECRET: ${GRM_AUTH_SECRET}
                AUTH_USERNAME: ${GRM_AUTH_USERNAME}
                AUTH_PASSWORD: ${GRM_AUTH_PASSWORD}
                GITHUB_ACCESS_TOKEN: ${GRM_GITHUB_ACCESS_TOKEN}
                MAIL_HOST: ${SMTP_SERVER}
                MAIL_PORT: ${SMTP_PORT}
                MAIL_USERNAME: ${SERVICE_EMAIL}
                MAIL_PASSWORD: ${SERVICE_EMAIL_PASSWORD}
                MAIL_FROM_ADDRESS: ${SERVICE_EMAIL}
                MAIL_FROM_NAME: "GitHub Release Monitor"
                MAIL_TO_ADDRESS: ${PERSONAL_EMAIL}
