# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: blocky
  namespace: blocky
spec:
  interval: 15m
  chart:
    spec:
      chart: blocky
      version: 19.6.0
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 20m
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    global:
      stopAll: false
    service:
      dns:
        externalTrafficPolicy: Local
        loadBalancerIP: ${BLOCKY_IP}
        type: LoadBalancer
        integrations:
          metallb:
            enabled: true
    ingress:
      main:
        enabled: true
        ingressClassName: internal
        hosts:
          - host: blocky.${DOMAIN_0}
            paths:
              - path: /
        integrations:
          certManager:
            enabled: true
            certificateIssuer: le-prod
    blocking:
      whitelist:
        - name: customList
          lists:
            - https://raw.githubusercontent.com/n-rosati/talos/refs/heads/main/clusters/main/kubernetes/core/blocky/app/allowlist.txt
            # - https://raw.githubusercontent.com/rahilpathan/pihole-whitelist/main/1.LowWL.txt
            # - https://raw.githubusercontent.com/anudeepND/whitelist/master/domains/whitelist.txt
            # - https://raw.githubusercontent.com/anudeepND/whitelist/master/domains/optional-list.txt
      blacklist:
        - name: customList
          lists:
            - https://raw.githubusercontent.com/n-rosati/talos/refs/heads/main/clusters/main/kubernetes/core/blocky/app/denylist.txt
            # see https://github.com/hagezi/dns-blocklists
            - https://raw.githubusercontent.com/hagezi/dns-blocklists/main/wildcard/multi.txt
      clientGroupsBlock:
        - name: default
          groups:
            # - default
            # - default-ads
            # - default-tracking
            # - default-malicious
            # - default-suspicious
            - customList
    k8sgateway:
      # -- list of processed domains
      domains:
        - domain: "${DOMAIN_0}"
          # -- Optional configuration option for DNS01 challenge that will redirect all acme
          # challenge requests to external cloud domain (e.g. managed by cert-manager)
          # See: https://cert-manager.io/docs/configuration/acme/dns01/
          dnsChallenge:
            enabled: false
            domain: dns01.clouddns.com
      forward:
        enabled: false
        primary: tls://1.1.1.1
        secondary: tls://1.0.0.1
        options:
          - name: tls_servername
            value: cloudflare-dns.com
    # CANNOT be defined in above yaml section
    queryLog:
      # optional one of: mysql, postgresql, csv, csv-client. If empty, log to console only
      type: ""
    configmap:
      dashboard:
        enabled: false
      datasource:
        enabled: false
    cnpg:
      main:
        enabled: false
