---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: nginx-external
  namespace: nginx-external
spec:
  interval: 2m
  chart:
    spec:
      chart: ingress-nginx
      version: v4.14.0
      sourceRef:
        kind: HelmRepository
        name: ingress-nginx
        namespace: flux-system
      interval: 15m
  timeout: 20m
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controller:
      replicaCount: 2
      service:
        externalTrafficPolicy: Local
        annotations:
          metallb.io/ip-allocated-from-pool: main
          metallb.io/loadBalancerIPs: ${NGINX_EXTERNAL_IP}
      ingressClassByName: true
      watchIngressWithoutClass: false
      ingressClassResource:
        name: external
        default: false
        controllerValue: k8s.io/external
      config:
        allow-snippet-annotations: true
        annotations-risk-level: Critical
        client-body-buffer-size: 128M
        client-body-timeout: 120
        client-header-timeout: 120
        enable-brotli: "true"
        enable-ocsp: "true"
        enable-real-ip: "true"
        enable-modsecurity: "true"
        enable-owasp-modsecurity-crs: true
        force-ssl-redirect: "true"
        hide-headers: Server,X-Powered-By
        hsts-max-age: "31449600"
        keep-alive-requests: 10000
        keep-alive: 120
        proxy-body-size: 0
        proxy-buffer-size: 16k
        proxy-busy-buffers-size: 32k
        ssl-protocols: TLSv1.3 TLSv1.2
        use-forwarded-headers: "true"
        forwarded-for-header: "CF-Connecting-IP"
        proxy-real-ip-cidr: "${PODNET},${SVCNET}"
      metrics:
        enabled: true
        # serviceMonitor:
        #   enabled: true
        #   namespaceSelector:
        #     any: true
      extraArgs:
        default-ssl-certificate: "clusterissuer/certificate-issuer-domain-0-wildcard"
        publish-status-address: ${NGINX_EXTERNAL_IP}
      terminationGracePeriodSeconds: 120
      publishService:
        enabled: false
      resources:
        requests:
          cpu: 100m
        limits:
          memory: 2Gi
    defaultBackend:
      enabled: false
