apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: ps3netsrv
  namespace: ps3netsrv
spec:
  interval: 2m
  chart:
    spec:
      chart: ps3netsrv
      version: 3.13.16
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    global:
      stopAll: false
    service:
      main:
        type: LoadBalancer
        loadBalancerIP: ${PS3NETSRV_IP}
        integrations:
          metallb:
            enabled: true
    persistence:
      games:
        type: nfs
        path: ${NFS_BULK_DATA}/Software/ps3netsrv
        mountPath: /games
        server: ${TRUENAS_IP}
    ingress:
      main:
        enabled: true
        ingressClassName: internal
        hosts:
          - host: ps3netsrv.${DOMAIN_0}
    workload:
      main:
        podSpec:
          terminationGracePeriodSeconds: 10
