apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: mosquitto
  namespace: mosquitto
spec:
  interval: 2m
  chart:
    spec:
      chart: mosquitto
      version: 17.13.5
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    global:
      stopAll: false
    service:
      main:
        type: LoadBalancer
        loadBalancerIP: ${MOSQUITTO_IP}
        integrations:
          metallb:
            enabled: true
