apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: s3
  namespace: s3
spec:
  interval: 2m
  chart:
    spec:
      chart: external-service
      version: 16.16.0
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    service:
      main:
        type: ExternalIP
        externalIP: ${TRUENAS_IP}
        useSlice: false
        ports:
          main:
            protocol: http
            port: ${S3_PORT}
    ingress:
      main:
        enabled: true
        ingressClassName: internal
        hosts:
          - host: s3.${DOMAIN_0}
        integrations:
          certManager:
            enabled: true
            certificateIssuer: le-prod
