apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: stepify
  namespace: stepify
spec:
  interval: 2m
  chart:
    spec:
      chart: app-template
      version: 15.29.43
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    global:
      stopAll: true
    image:
      repository: ghcr.io/n-rosati/stepify
      pullPolicy: IfNotPresent
      tag: main@sha256:55e1ea6a1469eb9edef2ebbd1cf4346b152fc0699d7c8222b850b17c3737226d
    service:
      main:
        enabled: true
        type: LoadBalancer
        ports:
          main:
            enabled: true
            port: 3000
            protocol: http
            targetPort: 3000
          bull-board:
            enabled: true
            port: 3001
            protocol: http
            targetPort: 3000
    ingress:
      main:
        enabled: true
        ingressClassName: internal
        hosts:
          - host: stepify.${DOMAIN_0}
        integrations:
          certManager:
            enabled: true
            certificateIssuer: le-staging
          nginx:
            enabled: true
    persistence:
      uploads:
        enabled: true
        type: pvc
        mountPath: /app/uploads
      converted:
        enabled: true
        type: pvc
        mountPath: /app/converted
    redis:
      enabled: true
      username: default
    workload:
      main:
        podSpec:
          containers:
            main:
              env:
                REDIS_HOST: stepify-redis
