apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: wg-easy
  namespace: wg-easy
spec:
  interval: 2m
  chart:
    spec:
      chart: wg-easy
      version: 18.14.14
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
  timeout: 5m
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    global:
      stopAll: false
    credentials:
      home-s3:
        name: home-s3
        type: s3
        url: ${S3_URL}
        bucket: wg-easy
        encrKey: ${BACKUP_ENCRYPTION_KEY}
        accessKey: ${S3_ACCESS_KEY}
        secretKey: ${S3_SECRET_KEY}
    service:
      vpn:
        externalTrafficPolicy: Local
        type: LoadBalancer
        loadBalancerIP: ${WG_EASY_IP}
        integrations:
          metallb:
            enabled: true
    ingress:
      main:
        enabled: true
        ingressClassName: external
        hosts:
          - host: vpn.${DOMAIN_0}
        integrations:
          certManager:
            enabled: true
            certificateIssuer: le-prod
          nginx:
            enabled: true
            auth:
              type: authelia
              internalHost: ${AUTHELIA_INTERNAL_DNS}
              externalHost: ${AUTHELIA_EXTERNAL_DNS}
          homepage:
            enabled: true
            name: Wireguard
            group: Apps
            href: https://{{ ( index .Values.ingress.main.hosts 0 ).host }}
            widget:
              enabled: true
              type: wgeasy
              url: http://wg-easy.wg-easy.svc.cluster.local:51821
              custom:
                version: "2"
                username: ${WG_USERNAME}
                password: ${WG_PASSWORD}
    persistence:
      config:
        volsync:
          - credentials: home-s3
            name: home-s3
            type: restic
            dest:
              enabled: true
            src:
              enabled: true
              trigger:
                schedule: 5 6 * * *
    workload:
      main:
        podSpec:
          containers:
            main:
              env:
                INIT_ENABLED: true
                INIT_USERNAME: admin
                INIT_PASSWORD: ${WG_PASSWORD}
                INIT_HOST: wireguard.${DOMAIN_0}
                INIT_PORT: 51820
                INIT_DNS: ${BLOCKY_IP}
    metrics:
      main:
        enabled: true
        endpoints:
          - port: main
            path: /metrics/prometheus
