apiVersion: v1
kind: Namespace
metadata:
    name: home-assistant
    annotations:
        volsync.backube/privileged-movers: "true"
    labels:
        pod-security.kubernetes.io/enforce: privileged
