apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: printer-es
  namespace: printer-es
spec:
  interval: 2m
  chart:
    spec:
      chart: external-service
      version: 16.14.14
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    service:
      main:
        type: ExternalIP
        externalIP: ${PRINTER_IP}
        ports:
          main:
            protocol: http
            port: 80
    ingress:
      main:
        enabled: true
        ingressClassName: external
        hosts:
          - host: print.${DOMAIN_0}
        integrations:
          certManager:
            enabled: true
            certificateIssuer: le-prod
          nginx:
            enabled: true
            auth:
              type: authelia
              internalHost: ${AUTHELIA_INTERNAL_DNS}
              externalHost: ${AUTHELIA_EXTERNAL_DNS}
          homepage:
            enabled: true
            name: Printer
            description: " "
            group: Infrastructure
            icon: mainsail.png
            widget:
              enabled: true
              type: moonraker
              url: http://{{ .Values.service.main.externalIP }}
