apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: weave-gitops
  namespace: flux-system
spec:
  interval: 15m
  chart:
    spec:
      chart: weave-gitops
      version: 4.0.36
      sourceRef:
        kind: HelmRepository
        name: weave-gitops
        namespace: flux-system
      interval: 15m
  timeout: 20m
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    adminUser:
      create: true
      username: admin
      passwordHash: "$2y$10$uLU2VgEA.uFxrqExlOOi7OcXVzeIwHeC65vvCPNCczRv4.3MhDlpC"
    ingress:
      enabled: true
      ingressClassName: internal
      annotations:
        cert-manager.io/cluster-issuer: le-staging
        cert-manager.io/private-key-rotation-policy: Always
        # add auth
        nginx.ingress.kubernetes.io/auth-method: "GET"
        nginx.ingress.kubernetes.io/auth-url: "http://${AUTHELIA_INTERNAL_DNS}/api/verify"
        nginx.ingress.kubernetes.io/auth-signin: "https://auth.${DOMAIN_0}?rm=$request_method"
        nginx.ingress.kubernetes.io/auth-response-headers: "Remote-User,Remote-Name,Remote-Groups,Remote-Email"
        # homepage integration
        gethomepage.dev/description: Provides insights into your application deployments, and makes continuous delivery with GitOps easier to adopt and scale across your teams.
        gethomepage.dev/enabled: "true"
        gethomepage.dev/group: Infrastructure
        gethomepage.dev/href: https://weave.${DOMAIN_0}/
        gethomepage.dev/icon: https://raw.githubusercontent.com/weaveworks/weave-gitops/160cb9aa0461fb1fca97f92afbe2935a5387ae96/ui/images/logoDark.svg
        gethomepage.dev/name: Weave GitOps
        gethomepage.dev/pod-selector: app.kubernetes.io/instance=weave-gitops
      tls:
        - hosts:
            - weave.${DOMAIN_0}
          secretName: flux-system-weave-gitops
      hosts:
        - host: weave.${DOMAIN_0}
          paths:
            - path: /
              pathType: Prefix
    networkPolicy:
      create: false
    metrics:
      enabled: true
    rbac:
      create: true
      impersonationResourceNames: ["admin"]
      additionalRules:
        - apiGroups: ["infra.contrib.fluxcd.io"]
          resources: ["terraforms"]
          verbs: ["get", "list", "patch"]
    annotations:
      reloader.stakater.com/auto: "true"
