apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: headlamp
  namespace: headlamp
spec:
  interval: 2m
  chart:
    spec:
      chart: headlamp
      version: 0.39.0
      sourceRef:
        kind: HelmRepository
        name: headlamp
        namespace: flux-system
  timeout: 20m
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    env:
      - name: HEADLAMP_KUBERNETES_TOKEN
        value: "/var/run/secrets/kubernetes.io/serviceaccount/token"
    pluginsManager:
      enabled: true
      configContent: |
        plugins:
          - name: my-plugin
            source: ghcr.io/headlamp-k8s/headlamp-plugin-flux
            version: v0.5.0
        installOptions:
          parallel: true
          maxConcurrent: 2
    ingress:
      enabled: true
      annotations:
        cert-manager.io/cluster-issuer: le-prod
        cert-manager.io/private-key-rotation-policy: Always
        # Adds auth
        nginx.ingress.kubernetes.io/auth-method: 'GET'
        nginx.ingress.kubernetes.io/auth-url: 'http://${AUTHELIA_INTERNAL_DNS}/api/verify'
        nginx.ingress.kubernetes.io/auth-signin: 'https://auth.${DOMAIN_0}?rm=$request_method'
        nginx.ingress.kubernetes.io/auth-response-headers: 'Remote-User,Remote-Name,Remote-Groups,Remote-Email'
        # Homepage integration
        gethomepage.dev/description: Headlamp is a user-friendly Kubernetes UI focused on extensibility.
        gethomepage.dev/enabled: "true"
        gethomepage.dev/group: Infrastructure
        gethomepage.dev/href: https://headlamp.${DOMAIN_0}/
        gethomepage.dev/icon: https://raw.githubusercontent.com/kubernetes-sigs/headlamp/refs/heads/main/frontend/public/android-chrome-512x512.png
        gethomepage.dev/name: Headlamp
        gethomepage.dev/pod-selector: app.kubernetes.io/instance=headlamp
      ingressClassName: "external"
      hosts:
        - host: headlamp.${DOMAIN_0}
          paths:
            - path: /
              type: ImplementationSpecific
      tls:
        - secretName: flux-system-headlamp
          hosts:
            - headlamp.${DOMAIN_0}