apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: homepage
  namespace: homepage
spec:
  interval: 2m
  chart:
    spec:
      chart: homepage
      version: 11.17.1
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    credentials:
      home-s3:
        name: home-s3
        type: s3
        url: ${S3_URL}
        bucket: homepage
        encrKey: ${BACKUP_ENCRYPTION_KEY}
        accessKey: ${S3_ACCESS_KEY}
        secretKey: ${S3_SECRET_KEY}
    ingress:
      main:
        enabled: true
        ingressClassName: external
        hosts:
          - host: homepage.${DOMAIN_0}
        integrations:
          certManager:
            enabled: true
            certificateIssuer: le-prod
          nginx:
            enabled: true
            auth:
              type: authelia
              internalHost: ${AUTHELIA_INTERNAL_DNS}
              externalHost: ${AUTHELIA_EXTERNAL_DNS}
    persistence:
      config:
        volsync:
          - name: config
            credentials: home-s3
            type: restic
            dest:
              enabled: true
            src:
              enabled: true
              trigger:
                schedule: 10 4 * * *
    workload:
      main:
        podSpec:
          containers:
            main:
              env:
                HOMEPAGE_ALLOWED_HOSTS: homepage.${DOMAIN_0}
    addons:
      codeserver:
        enabled: true
        workingDir: "/app/config"
        service:
          type: ClusterIP
        ingress:
          enabled: true
          ingressClassName: external
          hosts:
            - host: edit-homepage.${DOMAIN_0}
          integrations:
            certManager:
              enabled: true
              certificateIssuer: le-prod
            nginx:
              enabled: true
              auth:
                type: authelia
                internalHost: ${AUTHELIA_INTERNAL_DNS}
                externalHost: ${AUTHELIA_EXTERNAL_DNS}
