apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cloudflareddns
  namespace: cloudflareddns
spec:
  interval: 2m
  chart:
    spec:
      chart: cloudflareddns
      version: 12.14.2
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    cloudflareddns:
      api_token: ${DOMAIN_0_CLOUDFLARE_TOKEN}
      host_zone_record:
        - domain: home.${DOMAIN_0}
          record: A
          zone: ${DOMAIN_0_CLOUDFLARE_ZONE_ID}
      user: ${PERSONAL_EMAIL}
