apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cloudflared
  namespace: cloudflareddns
spec:
  interval: 2m
  chart:
    spec:
      chart: cloudflared
      version: 14.17.5
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    workload:
      main:
        podSpec:
          containers:
            main:
              probes:
                liveness:
                  enabled: false
                readiness:
                  enabled: false
                startup:
                  enabled: false
              args:
                - tunnel
                - --no-autoupdate
                - run
              env:
                TUNNEL_TOKEN: ${CLOUDFLARED_TOKEN}
