# https://github.com/small-hack/matrix-chart/blob/main/charts/matrix/values.yaml
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: matrix
  namespace: matrix
spec:
  interval: 2m
  timeout: 20m
  chart:
    spec:
      chart: matrix-stack
      version: 26.2.0
      sourceRef:
        kind: HelmRepository
        name: element-hq
        namespace: flux-system
  releaseName: matrix-stack
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    ingress:
      tlsEnabled: false
      className: external
    elementAdmin:
      ingress:
        host: admin.${DOMAIN_0}
    elementWeb:
      ingress:
        host: chat.${DOMAIN_0}
    matrixAuthenticationService:
      ingress:
        host: account.${DOMAIN_0}
      additional:
        user-config.yaml:
          config: |
            email:
              from: '"Matrix" <${SERVICE_EMAIL}>'
              reply_to: '"No reply" <no-reply@${EMAIL_DOMAIN}>'

              # Send emails using SMTP
              transport: smtp
              mode: tls
              hostname: "${SMTP_SERVER}"
              port: "${SMTP_PORT}"
              username: "${SERVICE_EMAIL}"
              password: "${SERVICE_EMAIL_PASSWORD}"
    matrixRTC:
      ingress:
        host: mrtc.${DOMAIN_0}
    serverName: ${DOMAIN_0}
    synapse:
      ingress:
        host: matrix.${DOMAIN_0}
