# https://github.com/small-hack/matrix-chart/blob/main/charts/matrix/values.yaml
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: matrix
  namespace: matrix
spec:
  interval: 2m
  timeout: 20m
  chart:
    spec:
      chart: matrix
      version: 21.5.0
      sourceRef:
        kind: HelmRepository
        name: small-hack
        namespace: flux-system
  releaseName: matrix
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    matrix:
      disabled: false
      disabledMessage: ""
      serverName: "${DOMAIN_0}"
      hostname: "matrix.${DOMAIN_0}"
      adminEmail: "${PERSONAL_EMAIL}"
      uploads:
        maxSize: 50M
      serve_server_wellknown: true
      federation:
        enabled: false
        ingress:
          enabled: false
          tls:
            enabled: true
          host: "matrix-fed.${DOMAIN_0}"
          className: "external"
          annotations:
            nginx.ingress.kubernetes.io/configuration-snippet: |
              proxy_intercept_errors off;
            cert-manager.io/cluster-issuer: le-staging
      registration:
        enabled: false
        generateSharedSecret: true
        requiresToken: true
        password_config:
          enabled: false
          policy:
            enabled: true
            minimum_length: 12
      urlPreviews:
        enabled: true
    s3: # todo
      enabled: false
    postgresql:
      enabled: false
    externalDatabase:
      enabled: true
      existingSecret: "matrix-app"
      secretKeys:
        databaseHostname: ""
        database: ""
        databaseUsername: ""
        userPasswordKey: ""
        adminPasswordKey: ""
    synapse:
      ingress:
        enabled: true
        className: "external"
        annotations:
          nginx.ingress.kubernetes.io/configuration-snippet: |
            proxy_intercept_errors off;
          cert-manager.io/cluster-issuer: le-staging
        hosts:
          - host: "matrix.${DOMAIN_0}"
            paths:
              - path: /
                pathType: ImplementationSpecific
                # if mas.enabled is set to true, you want pathType for / to be Prefix
                # pathType: Prefix
        tls:
          - secretName: "matrix-tls"
            hosts:
              - "matrix.${DOMAIN_0}"
      mas:
        enabled: false
      element:
        enabled: true
        ingress:
          className: "external"
          enabled: true
          tls:
            enabled: true
            secretName: "element-tls"
          host: element.${DOMAIN_0}
          annotations:
            nginx.ingress.kubernetes.io/configuration-snippet: |
              proxy_intercept_errors off;
            cert-manager.io/cluster-issuer: le-staging
        integrations:
          enabled: true
      coturn:
        enabled: true
        certificate:
          enabled: true
          host: turn.${DOMAIN_0}
          issuerName: le-staging
        coturn:
          realm: turn.${DOMAIN_0}
          auth:
            username: ${MATRIX_COTURN_ADMIN_USERNAME}
            password: ${MATRIX_COTURN_ADMIN_PASSWORD}
      mail: # todo
        enabled: false
      bridges: # todo: enable all the ones listed
        irc:
          enabled: false
        whatsapp:
          enabled: false
        discord_mautrix:
          enabled: false
