# https://github.com/small-hack/matrix-chart/blob/main/charts/matrix/values.yaml
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: matrix
  namespace: matrix
spec:
  interval: 2m
  timeout: 20m
  chart:
    spec:
      chart: matrix
      version: 21.5.0
      sourceRef:
        kind: HelmRepository
        name: small-hack
        namespace: flux-system
  releaseName: matrix
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values: {}
