apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cloudflareddns
  namespace: cloudflareddns
spec:
  interval: 2m
  chart:
    spec:
      chart: cloudflareddns
      version: 13.1.3
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    workload:
      main:
        podSpec:
          containers:
            main:
              env:
                UPDATE_IPV6: false
                CF_APITOKEN: ${DOMAIN_0_CLOUDFLARE_TOKEN}
                CF_HOSTS: "home.${DOMAIN_0}"
