apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: vaultwarden
  namespace: vaultwarden
spec:
  interval: 2m
  timeout: 20m
  chart:
    spec:
      chart: vaultwarden
      version: 29.14.10
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    global:
      stopAll: false
    credentials:
      home-s3:
        name: home-s3
        type: s3
        url: ${S3_URL}
        bucket: vaultwarden
        encrKey: ${BACKUP_ENCRYPTION_KEY}
        accessKey: ${S3_ACCESS_KEY}
        secretKey: ${S3_SECRET_KEY}
    service:
      main:
        type: LoadBalancer
        loadBalancerIP: ${VAULTWARDEN_IP}
        integrations:
          metallb:
            enabled: true
    ingress:
      main:
        enabled: true
        ingressClassName: external
        hosts:
          - host: vaultwarden.${DOMAIN_0}
        integrations:
          certManager:
            enabled: true
            certificateIssuer: le-prod
          homepage:
            enabled: true
            group: Apps
            href: https://{{ ( index .Values.ingress.main.hosts 0 ).host }}
            widget:
              enabled: false
    vaultwarden:
      allowSignups: false
      verifySignup: true
      smtp:
        enabled: true
        host: ${SMTP_SERVER}
        from: ${SERVICE_EMAIL}
        fromName: Vaultwarden
        security: force_tls
        port: ${SMTP_PORT}
        authMechanism: Login
        user: ${SERVICE_EMAIL}
        password: ${SERVICE_EMAIL_PASSWORD}
      push:
        enabled: true
        installationId: ${VAULTWARDEN_INST_ID}
        installationKey: ${VAULTWARDEN_INST_KEY}
    persistence:
      data:
        volsync:
          - credentials: home-s3
            name: data
            type: restic
            dest:
              enabled: true
            src:
              enabled: true
              trigger:
                schedule: 0 5 * * *
    cnpg:
      main:
        mode: recovery
        backups:
          enabled: true
          revision: "4"
          credentials: home-s3
        recovery:
          enabled: true
          credentials: home-s3
          revision: "4"
        cluster:
          singleNode: true
          postgresql:
            wal_keep_size: 5GB
        monitoring:
          enablePodMonitor: true
