apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: tvheadend
  namespace: tvheadend
spec:
  interval: 2m
  timeout: 10m
  chart:
    spec:
      chart: tvheadend
      version: 22.13.7
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    global:
      stopAll: false
    credentials:
      home-s3:
        name: home-s3
        type: s3
        url: ${S3_URL}
        bucket: tvheadend
        encrKey: ${BACKUP_ENCRYPTION_KEY}
        accessKey: ${S3_ACCESS_KEY}
        secretKey: ${S3_SECRET_KEY}
    service:
      main:
        type: LoadBalancer
        loadBalancerIP: ${TVHEADEND_IP}
        integrations:
          metallb:
            enabled: true
    persistence:
      data:
        volsync:
          - credentials: home-s3
            name: data
            type: restic
            dest:
              enabled: true
            src:
              enabled: true
              trigger:
                schedule: 25 6 * * *
