apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: scrutiny
  namespace: scrutiny
spec:
  interval: 2m
  chart:
    spec:
      chart: scrutiny
      version: 13.13.18
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    global:
      stopAll: false
    image:
      repository: ghcr.io/starosdev/scrutiny
      tag: latest-omnibus@sha256:4d120555e1c128c0ae0a3bb102557050b1d7e9b8b2d30dcead2b3da236aac1da
    service:
      main:
        type: LoadBalancer
    ingress:
      main:
        enabled: true
        ingressClassName: internal
        hosts:
          - host: scrutinykube.${DOMAIN_0}
        integrations:
          certManager:
            enabled: true
            certificateIssuer: le-prod
          nginx:
            enabled: true
          homepage:
            enabled: true
            group: Apps
            widget:
              enabled: false
