apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: remmina
  namespace: remmina
spec:
  interval: 2m
  chart:
    spec:
      chart: remmina
      version: 13.15.0
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    global:
      stopAll: false
    credentials:
      home-s3:
        name: home-s3
        type: s3
        url: ${S3_URL}
        bucket: remmina
        encrKey: ${BACKUP_ENCRYPTION_KEY}
        accessKey: ${S3_ACCESS_KEY}
        secretKey: ${S3_SECRET_KEY}
    persistence:
      config:
        volsync:
          - name: config
            type: restic
            credentials: home-s3
            dest:
              enabled: true
            src:
              enabled: true
              trigger:
                schedule: 15 6 * * *
    ingress:
      main:
        enabled: true
        ingressClassName: external
        hosts:
          - host: remmina.${DOMAIN_0}
        integrations:
          certManager:
            enabled: true
            certificateIssuer: le-prod
          nginx:
            enabled: true
            auth:
              type: authelia
              internalHost: ${AUTHELIA_INTERNAL_DNS}
              externalHost: ${AUTHELIA_EXTERNAL_DNS}
          homepage:
            enabled: true
            name: Remmina
            description: The GTK Remmina Remote Desktop Client
            group: Apps
            icon: https://gitlab.com/uploads/-/system/project/avatar/7153509/org.remmina.Remmina.png?
            widget:
              enabled: false
