apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: truenas-es
  namespace: truenas-es
spec:
  interval: 2m
  chart:
    spec:
      chart: external-service
      version: 16.14.6
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    service:
      main:
        type: ExternalIP
        externalIP: ${TRUENAS_IP}
        useSlice: false
        ports:
          main:
            protocol: https
            port: 80
    ingress:
      main:
        enabled: true
        ingressClassName: external
        hosts:
          - host: truenas.${DOMAIN_0}
        integrations:
          certManager:
            enabled: true
            certificateIssuer: le-prod
          nginx:
            enabled: true
            auth:
              type: authelia
              internalHost: ${AUTHELIA_INTERNAL_DNS}
              externalHost: ${AUTHELIA_EXTERNAL_DNS}
          homepage:
            enabled: true
            name: TrueNAS
            description: " "
            group: Infrastructure
            icon: truenas.png
            widget:
              enabled: true
              type: truenas
              url: https://{{ .Values.service.main.externalIP }}
              custom:
                key: ${HOMEPAGE_TRUENAS_KEY}
