apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: orcaslicer
  namespace: orcaslicer
spec:
  interval: 2m
  chart:
    spec:
      chart: orcaslicer
      version: 2.14.1
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    global:
      stopAll: true
    credentials:
      home-s3:
        name: home-s3
        type: s3
        url: ${S3_URL}
        bucket: orcaslicer
        encrKey: ${BACKUP_ENCRYPTION_KEY}
        accessKey: ${S3_ACCESS_KEY}
        secretKey: ${S3_SECRET_KEY}
    ingress:
      main:
        enabled: true
        ingressClassName: external
        hosts:
          - host: orcaslicer.${DOMAIN_0}
        integrations:
          certManager:
            enabled: true
            certificateIssuer: le-prod
          nginx:
            enabled: true
            auth:
              type: authelia
              internalHost: ${AUTHELIA_INTERNAL_DNS}
              externalHost: ${AUTHELIA_EXTERNAL_DNS}
          homepage:
            enabled: true
            group: Apps
            widget:
              enabled: false
    workload:
      main:
        strategy: Recreate
        podSpec:
          runtimeClassName: "nvidia"
          containers:
            main:
              env:
                DRINODE: /dev/dri/renderD128
              resources:
                limits:
                  nvidia.com/gpu: 1
    persistence:
      config:
        volsync:
          - name: orcaslicer
            type: restic
            credentials: home-s3
            dest:
              enabled: true
            src:
              enabled: true
              trigger:
                schedule: 10 6 * * *
      storage:
        enabled: true
        type: nfs
        server: ${TRUENAS_IP}
        mountPath: /storage
        path: ${NFS_APP_DATA}/OrcaSlicer
